:root {
    --main-font: font-family: 'Roboto', sans-serif;
    --secondary-font: font-family: 'Raleway', sans-serif;
    --main-color: #2196F3;
}

body {
    font-family: var(--main-font);
}

/* ---HEADER--- */

.navigation_logo {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    /* identical to box height */
    letter-spacing: 0.03em;
    color: #2196F3;
}

.navigation-list-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.142;
    letter-spacing: 0.02em;
    color: #212121;
}

.navigation-list-link:hover,
.navigation-list-link:focus {
    color: var(--main-color)
}

.adress {
    font-style: normal;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 14px;
    line-height: 1.142;
    letter-spacing: 0.02em;
    color: #757575;
}

.adress:hover,
.adress:focus {
    color: var(--main-color)
}


.adress-phone-number {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.142;
    letter-spacing: 0.02em;
    color: #757575;
}

.adress-phone-number:hover,
.adress-phone-number:focus {
    color: var(--main-color)
}


/* ---END-HEADER--- */